<nav class="navbar">

  <div class="hero-content">

    <div class="hero-text">

      <div class="logo-container">
        <h1 class="brand-name">Bloomia</h1>
      </div>

      <button
        type="button"
        class="menu-toggle"
        (click)="toggleMenu()">

        <mat-icon>
          {{ menuOpen ? 'close' : 'menu' }}
        </mat-icon>

      </button>

    </div>

    <div
      class="hero-image"
      [class.menu-open]="menuOpen">

      <div
        class="floating-card"
        routerLink="/"
        (click)="closeMenu()">

        <mat-icon>home</mat-icon>
        <span>Home</span>

      </div>

      <div
        class="floating-card"
        routerLink="/articles"
        (click)="closeMenu()">

        <mat-icon>article</mat-icon>
        <span>Blog</span>

      </div>

      <div class="floating-card" (click)="closeMenu()">

        <mat-icon>person</mat-icon>
        <span>O nama</span>

      </div>

      <div class="floating-card" (click)="closeMenu()">

        <mat-icon>call</mat-icon>
        <span>Kontakt</span>

      </div>

      <div class="floating-card" routerLink="/auth/register" (click)="closeMenu()">

        <mat-icon>rocket_launch</mat-icon>
        <span>Sign Up</span>

      </div>

      <div  class="floating-card"  routerLink="/auth/login" (click)="closeMenu()">

        <mat-icon>login</mat-icon>
        <span>Sign In</span>

      </div>

    </div>
  </div>

</nav>

<router-outlet></router-outlet>