<!-- src/app/pages/landing/landing.component.html -->
<div class="landing-page">
  <!-- Hero Section -->
   <nav class="navbar">
       <div class="hero-content">
          <div class="hero-text">
            <div class="logo-container">
              <h1 class="brand-name">Bloomia</h1>
            </div>
          </div>

      <div class="hero-image"> 
        <div class="floating-card card-4">      
            <mat-icon>home</mat-icon>
           <span>Home</span> 
        </div>
         
        <div class="floating-card card-3">
          <mat-icon>article</mat-icon>
          <span>Blog</span>
        </div>
        <div class="floating-card card-1">
          <mat-icon>person</mat-icon>
          <span>O nama</span>
        </div>
        <div class="floating-card card-2">
          <mat-icon>call</mat-icon>
          <span>Kontakt</span>
        </div>
        <div class="floating-card card-5" routerLink="auth/register">
            <mat-icon>rocket_launch</mat-icon>
           <span>Sign Up</span> 
        </div>
        <div class="floating-card card-6" routerLink="/auth/login">
            <mat-icon>login</mat-icon>
           <span>Sign In</span> 
        </div>
       
      </div>
    </div>
   </nav>
  <!--<section class="hero-section">
    <div class="hero-content">
      <div class="hero-text">
        <div class="logo-container">
          <mat-icon class="logo-icon">hand</mat-icon>
          <h1 class="brand-name">Bloomia</h1>
        </div>

      </div>
      <div class="hero-image"> 
        <div class="floating-card card-4">      
            <mat-icon>home</mat-icon>
           <span>Home</span> 
        </div>
         
        <div class="floating-card card-3">
          <mat-icon>article</mat-icon>
          <span>Blog</span>
        </div>

        <div class="floating-card card-5" routerLink="/auth/login">
            <mat-icon>rocket_launch</mat-icon>
           <span> Registruj se </span> 
        </div>
        <div class="floating-card card-1">
          <mat-icon>person</mat-icon>
          <span>O nama</span>
        </div>
        <div class="floating-card card-2">
          <mat-icon>call</mat-icon>
          <span>Kontakt</span>
        </div>
       
      </div>
    </div>
  </section>--> 

  <!-- Features Section -->
  <section class="features-section">
    <div class="section-header">
      <h1 class="title">Bloomia</h1>
      <h2 class="hero-title">Moderna platforma za psiholosku podrsku</h2>
      <p class="section-subtitle">
        Confidential. Accessible. On your terms.
      </p>
      <p class="section-subtitle">  Take a moment for yourself.</p>
    </div>

   
  </section>

  <!-- Stats Section -->
  <section class="stats-section">

     <div class="stats-title">
       <h2 class="s-title">Choose between 100 psychologists</h2>
        <h2 class="s-subtitle">Schedule your appointment online in one of three ways</h2>
     </div>
 
    <div class="stats-grid">
      <div class="stat-card">
        <mat-icon class="stat-icon">laptop</mat-icon>
        <div class="stat-number">Videocall</div>
       
      </div>

      <div class="stat-card">
        <mat-icon class="stat-icon">call</mat-icon>
        <div class="stat-number">Call</div>
       
      </div>

      <div class="stat-card">
        <mat-icon class="stat-icon">message</mat-icon>
        <div class="stat-number">Message</div>
      </div>
    </div>

   
  </section>

  <!-- CTA Section -->
  <section class="cta-section">
   <div class="selftest-part">
      <h2 class="cta-title">Access to self-tests and journlas in order to have a better insight into your own preferences</h2>

      <div class="cta-stats-grid">
         <div class="cta-stat-card">
           <mat-icon class="STJ-icon">article</mat-icon>
           <div class="stat-desc">Self tests</div>
          </div>
          <div class="cta-stat-card">
            <mat-icon class="STJ-icon">book</mat-icon>
            <div class="stat-desc">Journals</div>
          </div>
      </div>
     
    </div>
    <div class="cta-content">
      <p>Join hundreds of satisfied users!</p>
      <button mat-raised-button color="primary" class="cta-large-button" routerLink="/auth/register">
        <mat-icon>rocket_launch</mat-icon>
        Sign Up
      </button>
    </div>
  </section>
</div>
