$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

.therapist-layout-container {
  min-height: 100vh;
  background: linear-gradient(135deg, $background-color 0%, white 50%, $light-color 100%);
}

.navbar{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;

  background:$background-color;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hero-content {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  position: relative;
  z-index: 1;

  @media (max-width: 968px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.hero-text {
  animation: fadeInUp 0.8s ease-out;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-right: 200px;
  @media (max-width: 968px) {
    justify-content: center;
  }
}

.brand-name {
  font-family:inherit;
  font-size: 55px;
  font-weight: 800;
  line-height: 1.2;
  padding-bottom: 7px;
  color: white;
  margin: 0;
  // background: linear-gradient(135deg, $dark-green 0%, $dark-green 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-image {
  position: relative;
  top:20px;
  right: 150px;
  //height: 400px;
  display: flex;
  gap:30px;
  //animation: fadeInUp 0.8s ease-out 0.3s both;

  @media (max-width: 968px) {
    display: none;
  }
}

.floating-card {
 // position: absolute;
  background: white;
  padding: 20px 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 18px;
  box-shadow: 0 8px 24px rgba(115, 197, 64, 0.12);
  font-weight: 600;
  color: $text-color;
  width: 100px;
  //animation: float 3s ease-in-out infinite;//uzrokuje plutanje

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    color: $text-color;
  }

  &.active {
        background: $text-color;
        color: white;
        box-shadow: 0 12px 32px $light-color;

        mat-icon {
        color: $background-color;
        }
    }

  &.home-card{
    animation-delay: 2s;
    cursor:pointer;
        
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 32px rgba(123, 142, 162, 0.4);
    }
  }  

  &.clients-card {
    //top: 180px;
    //right: 80px;
    cursor: pointer;
    animation-delay: 4s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 32px rgba(123, 142, 162, 0.4);
    }
  }

  &.profile-card {
    //top: 180px;
    //right: 80px;
    cursor: pointer;
    animation-delay: 4s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 32px rgba(123, 142, 162, 0.4);
    }
  }

}