$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;

$self-bg: #f7f7f5;
$card-bg: #ffffff;
$text-color: #4A5759;
$accent: #B0C4B1;
.self-tests-page {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;

}
.self-tests-space{
    display: flex;
}

.selftest-card{
    
    max-width:600px;
    background-color:#DEDBD2;
    border-radius: 12px;
    padding: 56px 60px;
    margin-top: 20px;
    
    margin-left: 30px;
    color: #4A5759;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}
.selftest-title{
  font-size: 25px;
  margin-bottom: 28px;
  padding-bottom: 12px;
  color: $text-color;
  text-align: center;
}

.selftest-questions {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.selfTest-answers-card{
    display: flex;
    justify-content: space-between;
    background: $self-bg;
    padding: 14px 18px;
    border-radius: 10px;
    font-size: 14px;
}
.question-text {
  max-width: 75%;
}
.rating {
  font-weight: 700;
  color: #B0C4B1;
}
.result-box {
  margin-top: 28px;
  padding: 20px;
  border-radius: 12px;
  background: $background-color;
  color: $text-color;

  h3 {
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
    .self-tests-space{
    display: list-item;
    }
  .self-test-card {
    padding: 10px;
     margin-left: 3px;
  }

  .question {
    flex-direction: column;
    gap: 6px;
  }

  .rating {
    align-self: flex-end;
  }
}