<section class="dashboard-page">

  <div class="dashboard-header">
    <div>
      <h1>Overview</h1>
      <p>
        An overview of your appointments and activity.
      </p>
    </div>

    <div class="month">
      <mat-icon>calendar_month</mat-icon>
      {{ currentDate | date:'MMMM yyyy' }}
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading && overview">

    <div class="stats-grid">

      <mat-card class="stat-card">
        <mat-card-content>
          <span>Appointments this month</span>

          <strong>
            {{ overview.appointmentsThisMonth }}
          </strong>
        </mat-card-content>
      </mat-card>

      <mat-card class="stat-card">
        <mat-card-content>
          <span>Completed sessions</span>

          <strong>
            {{ overview.pastAppointmentsThisMonth }}
          </strong>
        </mat-card-content>
      </mat-card>

      <mat-card class="stat-card">
        <mat-card-content>
          <span>Active clients</span>

          <strong>
            {{ overview.activeClients }}
          </strong>
        </mat-card-content>
      </mat-card>

      <mat-card class="stat-card">
        <mat-card-content>
          <span>Average rating</span>

          <strong>
            {{ overview.averageRating | number:'1.1-1' }}
          </strong>
        </mat-card-content>
      </mat-card>

    </div>

    <mat-card class="appointments-card">

      <mat-card-header>
        <mat-card-title>
          Upcoming appointments
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div
          *ngIf="overview.upcomingAppointments.length === 0"
          class="empty-state">
          No upcoming appointments.
        </div>

        <div
          *ngFor="let appointment of overview.upcomingAppointments"
          class="appointment-row">

          <div class="appointment-date">
            <strong>
              {{ appointment.scheduledAtUtc | date:'HH:mm' }}
            </strong>

            <span>
              {{ appointment.scheduledAtUtc | date:'dd.MM.yyyy' }}
            </span>
          </div>

          <div class="appointment-client">
            <strong>
              {{ appointment.clientName }}
            </strong>

            <span>
                {{ getSessionTypeName(appointment.sessionType) }}
            </span>
          </div>

        </div>

      </mat-card-content>

    </mat-card>

    <section class="reviews-section" *ngIf="reviews">

    <div class="section-heading">
      <div>
        <h2>Ratings & Reviews</h2>
        <p>A quick overview of your client feedback</p>
      </div>

      <span class="total-reviews">
        {{ reviews.totalReviews }} reviews
      </span>
    </div>

    <div class="reviews-grid">
      <mat-card class="rating-distribution-card">
        <mat-card-header>
          <mat-card-title>
            Rating distribution
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <div class="rating-row">
            <span>5 stars</span>
            <strong>{{ reviews.fiveStarReviews }}</strong>
          </div>

          <div class="rating-row">
            <span>4 stars</span>
            <strong>{{ reviews.fourStarReviews }}</strong>
          </div>

          <div class="rating-row">
            <span>3 stars</span>
            <strong>{{ reviews.threeStarReviews }}</strong>
          </div>

          <div class="rating-row">
            <span>2 stars</span>
            <strong>{{ reviews.twoStarReviews }}</strong>
          </div>

          <div class="rating-row">
            <span>1 star</span>
            <strong>{{ reviews.oneStarReviews }}</strong>
          </div>

        </mat-card-content>
      </mat-card>

      <mat-card class="latest-reviews-card">
      <mat-card-header>
        <mat-card-title>
          Latest reviews
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="reviews.latestReviews.length === 0" class="empty-state"> 
          No reviews yet.
        </div>

        <div *ngFor="let review of reviews.latestReviews" class="review-item">
          <div class="review-header">

            <div>
              <strong>
                {{ review.clientName }}
              </strong>

              <span>
                {{ review.createdAtUtc | date: 'dd.MM.yyyy' }}
              </span>
            </div>

            <div class="review-rating">
              {{ review.rating }}
            </div>
          </div>

          <p *ngIf="review.comment">
            {{ review.comment }}
          </p>

          <p *ngIf="!review.comment" class="no-comment">
            No comment review.
          </p>
        </div>

      </mat-card-content>
    </mat-card>
    
    </div>

  </section>

  <section class="reports-section">
    <div class="secton-heading">
      <div>
        <h2>Monthly Reports</h2>
        <p>Generate and review monthly summaries of your activity.</p>
      </div>

      <button mat-flat-button type="button" class="generate-report-button" [disabled]="isGeneratingReport" (click)="generateReport()">
        <mat-icon>picture_as_pdf</mat-icon>
        {{ isGeneratingReport ? 'Generating...' : 'Generate report' }}
      </button>
    </div>

    <mat-card class="reports-card">
      <mat-card-header>
        <mat-card-title>
          Previously generated reports
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="reports.length === 0" class="empty-state">
          No reports have been generated yet.
        </div>

        <div *ngFor="let report of reports" class="report-row">
          <div class="report-info">
            <mat-icon>description</mat-icon>
            <div>
              <button type="button" class="report-title-button" (click)="openReport(report)">
                {{ getReportMonthName(report.month) }} {{ report.year }}
              </button>
              <span>Generated {{ report.generatedAtUtc | date:'dd.MM.yyyy' }}</span>
            </div>
          </div>

          <div class="report-statistics">
            <span>
              {{ report.completedSessionsCount }} sessions
            </span>

            <span>
              {{ report.activeClientsCount }} clients
            </span>

            <span>
              {{ report.averageRating | number:'1.1-1' }} ★
            </span>
          </div>

          <div class="report-actions">
            <button mat-flat-button class="download-report-button" type="button" (click)="downloadReport(report)">
              <mat-icon>download</mat-icon>
              Download
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <div class="report-viewer-overlay" *ngIf="reportPreviewUrl && selectedReport">

      <div class="report-viewer">

        <div class="report-viewer-header">
          <h2>
            {{ getReportMonthName(selectedReport.month) }}
            {{ selectedReport.year }}
          </h2>

          <button
            mat-icon-button
            type="button"
            (click)="closeReportPreview()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <iframe
          [src]="reportPreviewUrl"
          class="report-preview"
          title="Monthly report preview">
        </iframe>

      </div>

    </div>

  </section>

  </ng-container>

</section>