$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;

$self-bg: #f7f7f5;
$card-bg: #ffffff;
$text-color: #4A5759;
$accent: #B0C4B1;

.selftest-title{
    text-align: center;
    color: $text-color;
   margin-top: 100px;
    padding-top: 80px;
    font-size: 50px;
    font-weight: 700;
}
.main-details-container{
    background-color: $light-color;
    width: 1400px;
    height: auto;
    border-radius: 12px;
    margin-left: 250px;
    align-items: center;
}
.questions-container{
    margin-top: 60px;
    padding-top: 20px;
    align-items: center;
}
.question-card{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    background-color: $self-bg;
    border-radius: 12px;
    height: 100px;
    width: 1300px;
    text-align: center;
    margin-left: 50px;
    padding-top: 20px;
    color: $text-color;
    display: flex;
    gap:550px;
    justify-content: space-around;
    .rating{  
        margin-left: 70px;//margin-right?
        width: 100px;
        height: 40px;

    }

}

.introduction{
    margin-top: 50px;
    font-size: 36px;
    font-weight: 600;
    color:  #8c8c7d;
    text-align: center;
   
}
.intro{
     height: 110px;
     
}
.button{
     background-color: #B0C4B1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
  
    cursor: pointer;
    margin-left: 25px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    color: #efebdf;
   margin-left: 550px;
    box-shadow: 2px 2px #899389;
}
.error-message {
  color: #c0392b;
  margin-top: 12px;
  font-weight: 500;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.success-message{
    background: $self-bg;padding: 40px 50px;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.25s ease;

  h2 {
    color: #4A5759;
    margin-bottom: 20px;
  }
   .avg {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .desc {
    color: #6f7f73;
    margin-bottom: 30px;
  }
}