$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;



.Basic-informations{
    color: $text-color;
    justify-content: space-between;
    width: 400px;   
    height: 250px;
    padding-top: 30px;
    margin-top: 70px;
    margin-left: 1160px;
    & .fl{
        font-size: 50px;
        
    }
    & h2{
         font-size: 33px;
    }
    @media(max-width:768px) {
        width: 100%;
        height: auto;
        margin: 50px 0;
        padding: 20px;
        align-items: center;

        & .fl{
            font-size: 33px;
        }
        & h2{
             font-size: 28px;
        }
    }
}
.journal-selfTests{
    align-items: center;
    margin-top: 200px;

    margin-left: 700px;

    margin-left: 800px;
}
.button{
     background-color: #B0C4B1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;

    font-size: 18px;
    font-weight: 600;
  
    cursor: pointer;
    margin-right: 25px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    color: #efebdf;
   
    box-shadow: 2px 2px #899389;
    font-size: 15px;
    font-weight: 600;
    color:  #4A5759;
    cursor: pointer;
    margin-right: 20px;
    &:hover{
        background-color: #4A5759;
        color:#DEDBD2;
    }
    //napravila sam novu komponentu za my selftest da mi se na klik buttona ne prikazuju na istom page my profile vec da ide na novi 
}