<div class="intro">
    <p class="introduction">Bloomia believes in personal growth through self-awareness.</p>
    <p class="introduction"> These self-tests are a tool that helps you get to know yourself better and take small but significant steps forward.</p>
</div>
<div class="main-details-container">

    <h1 class="selftest-title">{{test?.selfTestName}}</h1>

    <div class="questions-container">
        <div *ngFor="let q of test?.selfTestQuestions" class="question-card">
            <p>{{q.question}}</p>
            
        </div>
    </div>
    <button>Uradi</button>
</div>