$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;

@mixin client-container {
  max-width: 1200px;
  margin: 0 auto;
}


.hero-content {
  @include client-container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  align-items: center;
  position: relative;
  z-index: 1;

  @media (max-width: 968px) {
    grid-template-columns: 1fr;
    padding: 0 16px;
    text-align: center;

    .hero-text{
      font-size: 17px;
    }
   .brand-name{
    font-size: 22px;
   }
   .hero-buttons{
    width: 100%;
    margin-left: 0;
    justify-content: center;
    flex-wrap: nowrap;
    gap:5px;
   }
   .floating-card{
      width: 100%;
      max-width: 280px;
      margin-left: 0px;
      margin-bottom: 8px;
      padding: 16px;
      gap:10px;
      font-weight: 600;
      font-size: 8px;
   }
   mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
  }
}
.navbar{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;

  background:$background-color;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.hero-buttons{
  display: flex;
  padding-top:30px;
  margin-left: 60px;
}
.floating-card{
  display: flex; 
   align-items: center;
  width: 160px;
  padding: 30px 25px 35px 20px;
  gap:50px;
 
  margin-left: 50px;
  border-radius: 13px;

  position: relative;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  color: $text-color;

  mat-icon {
   
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  &.active {
      background: $text-color;
      color: white;
      box-shadow: 0 12px 32px $light-color;
      mat-icon {
      color: $background-color;
      }
  }
  &:hover{
     background-color: #DEDBD2;
  }
  
}
.hero-text{
  
    color: $text-color;
    font-size: 25px;
  
}
.selfTests-card{
  display: flex;
  align-items: center;
  width: 180px;
}
//align items bez display flex ne radi