$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;


$self-bg: #f7f7f5;
$card-bg: #ffffff;
$text-color: #4A5759;
$accent: #B0C4B1;

.myJournals{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;color: $text-color;
    font-weight: 600;
}
.journal-space{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;

    display: flex;
    justify-content: center;

}
.journal-card{
    max-width:600px ;
    background-color: $light-color;
    border-radius: 12px;
    padding: 56px 60px;
    margin-top: 20px;
    margin-left: 30px;
    color: #4A5759;
    box-shadow: 3px 22px 50px rgba(125, 74, 74, 0.08);
}
.journal-title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    margin-bottom: 28px;
    color: #4A5759;
}
.date{
    font-size: 9px;
}
.jorunal-answer-card{
   
   justify-content: space-between;
    background:#bfd0bf;
    padding: 14px 18px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 8px;
}
.question-text{
    font-size: 18px;
    font-weight: 600;
    justify-content: space-around;
    padding-bottom: 10px;
}
.answer{
   padding-bottom: 10px;
   font-size: 14px;
    font-weight: 400;
}
@media (max-width: 768px){
    .journal-space{
    display: list-item;
    justify-content: center;
    }
    .journal-card{
        margin-left: 3px;
    }
}